@media screen and (min-width: 380px) and (max-width: 844px) {

    .ugol{
        display: none;
    }

    .input div{
        width: 100%;
    }

    input{
        width: 93%;
    }

    .banner, .Artboard{
        display: none;
    }
    body{
        padding-left:20px ;
        padding-top:36px ;
        
    }
    
    form{
        margin-top: 25px;
        width: 95%;
    }
    .head{
        
        margin-bottom:40px ;
    }
    .head :first-child{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }
    .head :last-child{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .input{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        
      
    }

    .check{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .span1{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #919EAB;
    }
    .span2{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #333333;
        margin-top: 32px;
    }

    .span_reg_mob{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #333333;
        margin-top: 16px;
    }
   
    
        
    
    input{
        color: #919EAB;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 24px;
        padding-left: 14px;
        border: 1px solid rgba(145, 158, 171, 0.3);
        border-radius: 8px;
        height: 56px;
        
       

    }
    
    .button{
        color: #FFFFFF;
        background: #3258FB;
        border-radius: 8px;
        
    }
    .button:hover{
        box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);
    }
    a{
        color: #3258FB;
    }
    .vhod{
        font-weight: 700;
    }
}



@media screen and (min-width:1000px){

    

    .banner{
        width: 100%;
        height: 100vh;
    }

    .logo{
        display: none;
    }

    body{
        display: flex;
    }

    .ugol{
        text-align: right;
    }

    .span_reg_mob{
        display: none;
    }
    
    .span_reg{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #333333;
        margin-top: 32px;
    }

    .for{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    form{

        width: 100%;
        display: flex;
        flex-direction: column;        
    }

    .registr{
        text-align: right;
    }

    header{
        width: 30%;
    }

    .head{
        
        margin-bottom:40px ;
    }
    .head :first-child{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }
    .head :last-child{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    .form{
        margin-top: 180px;
        margin: 0 auto;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .input{
        
        
        display: flex;
        flex-direction: column;
        
      
    }

    .check{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .span1{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #919EAB;
    }
    .span2{
        display: none;
    }

   
    
        
    
    input{
        color: #919EAB;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 24px;
        padding-left: 14px;
        border: 1px solid rgba(145, 158, 171, 0.3);
        border-radius: 8px;
        height: 56px;
        
       

    }
    
    .button{
        color: #FFFFFF;
        background: #3258FB;
        border-radius: 8px;
    }
    .button:hover{
       box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);
    }
    a{
        color: #3258FB;
    }
    .vhod{
        font-weight: 700;
    }

    .input div{
        
        display: flex;
        justify-content: space-between;
    }
}



